#left_section{
    height : 90%;
    width: 75%;
    float: left;
    background-color: rgb(250, 255, 255);
}

#right_section{
    height : 90%;
    width: 25%;
    float: right;
    background-color: rgb(250, 255, 255);
}

#top{
    background-color : #c3afdd;
}

button{
    height: 55px;
    width: 70px;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid black;
}

#plus{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 3px solid white;
}
#left_section{
    float: left;
    width: 70%;
    height: 100%;
}

#middleLine{
    width: 3px;
    height: 80%;
    background-color: #8440e9;
    float: left;
    border-radius: 15px;
    position: relative;
    top: 40px;
}

#right_section{
    float: right;
    width: 25%;
    height: 100%;
}

#searchItem{
    position: relative;
    left: 300px;
    top: 40px;
}

#bottomButtons{
    position: fixed;
    top: 500px;
    left: 350px;
}

#myTable, #check_out_table{
    position: relative;
    left: 270px;
    top: 40px;
}

#added_items{
    position: relative;
    left: 70px;
    top: 40px;
}

#check{
    position: fixed;
    top: 500px;
    left: 1100px;
}

table{
    border: 1px solid black;
    border-radius: 15px;
}

#headRow{
    border: 1px solid black;
    border-radius: 15px;
}

#search_button, #reset, #addto, #check{
    background-color: #b094db;
    border: 3px solid #b094db;
}

#search_button{
    background-color: #b094db;
    border: 3px solid #b094db;
    height: 25px;
    padding: 3px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: condensed;
    font-size: 30px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}